<div class="text-center">
    <h1 style="margin-top: 100px;">SERVICING CARS FOR OVER 30 YEARS!</h1>
</div>
<div class="row text-center" style="margin-top: 50px;margin-bottom: 50px;">
    <div class="col-md-2">
        
    </div>
    <div class="col-md-5">        
            <h4><br><br><br>
                We are here to provide you better services in your area. You just need
                to contact us and we will provide you better time slots as per your 
                schedule to repair your car.</h4>        
    </div>
    <div class="col-md-5">
        <a routerLink="/login"><img src="assets/img/visitUsImage.PNG" style="width: 350px;height: 200px;">
        </a>
        <br><br><br>
        <a routerLink="/contact-us"><img src="assets/img/contact.PNG" style="width: 350px;height: 200px;"></a>
    </div>
</div>
    