<div class="row center-text" style="background-color: #B22222;color: white;">
    <div class="col-md-4"> 
        <br>       
        <h2 style="padding-top: 10px;">MECHANICS</h2>
        <h4>We are having great Mechanics who <br>are able to solve any kind of Your <br>problems.</h4>
    </div>
    <div class="col-md-4">
        <br>        
        <blockquote>
                <h2>CAR ACCESSORIES</h2>
                <h4>Every car accessories are <br>availabe here.</h4>

        </blockquote>
    </div>
    <div class="col-md-4"> 
        <br>       
        <blockquote>
            <h2>BREAKDOWN SERVICES</h2>
            <h4>Every type of breakdown services<br>like towing  are available here.</h4>
        </blockquote>
    </div>
</div>