<div class="text-center">
    <h1 style="margin-top: 100px;">WHICH SERVICE DO YOU NEED?</h1>
    <h4 style="margin-top: 50px;">Every kind of service we will provide you. 
        Just mention the kind of car service you want while booking.<br> 
        That service we will provide to you.</h4>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col-md-4">            
            <div style="height: 100px;">
                <img src="assets/img/dedicatedMechanics.PNG">
                <h3>DEDICATED MECHANICS</h3>
            </div>
            <h4 style="margin-top: 100px;">Heavy car service work if you need.<br> For that we are having dedicated<br>mechanics for your task.</h4>
        </div>
        <div class="col-md-4">
            <div style="height: 100px;">
                <img src="assets/img/carChecks.PNG">
                <h3>CAR CHECKS</h3>
            </div>
            <h4 style="margin-top: 100px;">The types of car checks you want .<br> We will provide that also.</h4>
        </div>
        <div class="col-md-4">
            <div style="height: 100px;">
                <img src="assets/img/oilAndBreakChecks.PNG">
                <h3>OIL & BREAK CHECKS</h3>
            </div>
            <h4 style="margin-top: 100px;">Engine oil, Stering Oil , tyre rotation<br> services are also provide by us.</h4>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-4">
            <div style="height: 100px;">
                <img src="assets/img/breakDownService.PNG">
                <h3>BREAKDOWN SERVICE</h3>
            </div>
            <h4 style="margin-top: 100px;">If you stuck somewhere, Just contact<br> us  for toying service</h4>
        </div>
        <div class="col-md-4">
            <div style="height: 100px;">
                <img src="assets/img/tireChange.PNG">
                <h3>TIRE CHANGE</h3>
            </div>
            <h4 style="margin-top: 100px;">Tire change and tire rotation we also<br> provide</h4>
        </div>
        <div class="col-md-4">
            <div style="height: 100px;">
                <img src="assets/img/batteryChange.PNG">
                <h3>BATTERY CHANGE</h3>
            </div>
            <h4 style="margin-top: 100px;">We provide quality batteries for<br> exchange</h4>
        </div>
    </div>
</div>