<div style="background-color: #ebebe0;">
    <div class="container center-text" style="margin-top: 50px;">
        <h2 style="margin-top: 50px;">OFFERING YOU THE BEST SOLUTION FOR <br>
        YOUR CAR. </h2>
    </div>
    <div class="row center-text" style="margin-top: 50px;">
        <div class="col-md-4">
            
                <img src="assets/img/location1.PNG" style="width: 100px;height: 100px;">
                <h3>ALWAYS OPEN<br>FOR YOU</h3>
                <br>
                <h4>We are here 24*7 to serve you.<br>We provide services according to your <br>need.</h4>
            
        </div>
        <div class="col-md-4">
            
                <img src="assets/img/dolar.PNG" style="width: 100px;height: 100px;">
                <h3>UNBEATABLE<br>PRICES</h3>
                <br>
                <h4>We provide best  service with best  low <br>price. Prices are unbeatable compared to  <br>other mechanic shops</h4>
            
        </div>
        <div class="col-md-4">
            
                <img src="assets/img/star.PNG" style="width: 100px;height: 100px;">
                <h3>PROFESSIONALLY <br>QUALIFIED</h3>
                <br>
                <h4>All the mechanics are having good experience <br>and they are professionals in that field. They will<br>  take care of your need properly</h4>
            
        </div>
    </div>
</div>