<div id="navbarDev">    
</div>

<div class="container-fluid">
    <app-service-info-card></app-service-info-card>

    <div class="row center-text" style="margin-top: 50px;margin-bottom: 50px;">
        <div class="col-md-7">
            <h1>COME AND VISIT US</h1>
            <h4>If  you want to repair your car. First of all book your visit, then <br>we will provide you the service date! So that you will be having <br>good service...</h4>
        </div>
        <div class="col-md-5">
            <a routerLink="/login"><img src="assets/img/visitUsImage.PNG" style="width: 350px;height: 200px;">
            </a>
        </div>
    </div>
    
    <app-services-off-card></app-services-off-card>
    
</div>